<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/form.css">
    </head>

    <body>
        <h1>
            <% if(editing){ %> Edit Department Detail <%}else{%> Add New Department <%}%>
        </h1>
        <div class="adddepartment">
            <form action="/admin/<% if(editing){%>editdetail<%}else{%>deptdata<%}%>" method="post" class="product-form">
                <div class="nice-form-group">
                    <label for="buildingname">Building Name</label>
                    <% if (editing) { %>
                        <select name="buildingname" readonly id="">
                            <option value="<%= product.building %>">
                                <%= product.building %>
                            </option>
                        </select>

                        <% }else{ %>

                            <select name="buildingname" id="">
                                <option value="GMC">Gmc</option>
                                <option value="karmyogibhavan">KarmYogi bhavan</option>
                                <option value="Sachivaly">Sachivaly</option>
                            </select>
                            <% } %>
                                <!-- <input type="text" name="buildingname" oninput="this.value = this.value.toUpperCase()"
                    placeholder="Enter Your name" required> -->
                </div>
                <div class="nice-form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" oninput="this.value = this.value.toUpperCase()"
                        placeholder="Enter Your name"
                        value="<% if (editing) {%><%=product.name %><%}else{%><%= olddata.name %><%}%>" required>
                </div>
                <div class="nice-form-group">
                    <label for="mobileno">Mobile No</label>
                    <input type="tel" name="mobileno"
                        value="<% if (editing) {%><%=product.mobileno %><%}else{%><%= olddata.mobileno%><%}%>"
                        class="icon-left" placeholder="Your Phone Number" pattern="[0-9]{10}" required>
                </div>
                <div class="nice-form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email"
                        value="<% if (editing) {%><%=product.email %><%}else{%><%= olddata.email%><%}%>"
                        class="icon-left" placeholder="www.xyz.com" required>
                </div>
                <div class="nice-form-group">
                    <label for="url">Url</label>
                    <input type="url" name="url" placeholder="www.google.com"
                        value="<% if (editing) {%><%=product.url %><%}else{%><%= olddata.url%><%}%>"
                        class="icon-left" />

                </div>
                <div class="editingcon">
                    <% if (editing) { %>
                        <!-- <div class="nice-form-group">
                        <label for="Address">Address</label>
                        <% if (editing) {%>
                            <textarea rows="5" value="<%= product.address %>" name="address" readonly
                                placeholder="Enter adddress"></textarea>
                            <%}else{ %>
                                <textarea rows="5" value="" name="address" placeholder="Enter adddress"></textarea>
                                <%}%>

                    </div>
                    <div class="nice-form-group">
                        <label for="name_location">Department Preson Name</label>
                        <input type="text" name="name_location" readonly oninput="this.value = this.value.toUpperCase()"
                            placeholder="Enter Your name" required>
                    </div>
                    <div class="nice-form-group">
                        <label for="mobileno">Department Mobile No</label>
                        <input type="tel" name="mobileno_location" readonly class="icon-left"
                            placeholder="Your Phone Number" pattern="[0-9]{10}" required>
                    </div>
                    <div class="nice-form-group">
                        <label for="opentime">OpeningTime</label>
                        <input type="time" readonly name="openingtime" value="10:30" />
                    </div>
                    <div class="nice-form-group">
                        <label>ClosingTime</label>
                        <input type="time" readonly name="closingtime" value="17:30" />
                    </div> -->
                        <% }else{ %>
                            <div class="nice-form-group">
                                <label for="Address">Address</label>
                                <textarea rows="5" value="" name="address" placeholder="Enter adddress"></textarea>
                            </div>
                            <div class="nice-form-group">
                                <label for="name_location">Department Preson Name</label>
                                <input type="text" name="name_location" oninput="this.value = this.value.toUpperCase()"
                                    placeholder="Enter Your name" required>
                            </div>
                            <div class="nice-form-group">
                                <label for="mobileno">Department Mobile No</label>
                                <input type="tel" name="mobileno_location" class="icon-left"
                                    placeholder="Your Phone Number" pattern="[0-9]{10}" required>
                            </div>
                            <div class="nice-form-group">
                                <label for="opentime">OpeningTime</label>
                                <input type="time" name="openingtime" value="10:30" />
                            </div>
                            <div class="nice-form-group">
                                <label>ClosingTime</label>
                                <input type="time" name="closingtime" value="17:30" />
                            </div>
                            <% } %>

                </div>
                <% if (editing) { %>
                    <input type="hidden" value="<%= product._id %>" name="id">
                    <button type="submit">Edit Department</button>

                    <% } else { %>
                        <button type="submit">Add Department</button>
                        <% } %>
            </form>
        </div>
        <%- include('../includes/end.ejs') %>