<%- include('../includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/collaps.css"> -->
    </head>

    <body>
        <main>

            <%- include('../includes/nav.ejs') %>

                <div class="header1 nine">
                    <h1>
                        <%= deptinfo.name%> <span>~</span>
                    </h1>
                    <h3>
                        &nbsp;&nbsp;&nbsp;<i class="fa-duotone fa-phone-rotary"></i>&nbsp;  : <%= deptinfo.mobileno %>
                    </h3>
                    <h3>
                        &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-envelope-open"></i>&nbsp;  : <%= deptinfo.email %>
                    </h3>
                    <h3>
                        &nbsp;&nbsp;&nbsp;<i class="fa-regular fa-link"> </i>&nbsp;  : <a href="<%= deptinfo.url %>">
                            <%= deptinfo.url %>
                        </a>
                    </h3>
                    <h1><span>~</span></h1>
                    <div class="bs">
                        <% for( let key of deptinfo.locations) { %>
                            <h2>
                                <div class="detail">
                                    location :<%= key.address%> <br> <br>
                                        Contact Person : <%=key.personname%> <br><br>
                                            Department contact : <%=key.mobilenolocation %> <br><br>
                                                Open Time : <%=key.opentime%> <br><br>
                                                    closing Time: <%=key.closetime%> <br><br>
                                </div>
                            </h2>
                            <%}%>
                    </div>
                    <h1><span>~</span></h1>
                </div>
                <div>
                    <h1>અપના પ્રશ્નો:-</h1>
                    <% for( let keydata of deptinfo.query){%>
                        <section class="accordion">
                            <input type="checkbox" name="collapse" id="handle1" checked="checked">
                            <h2 class="handle">
                                <label for="handle1">
                                    <%= keydata.question %>
                                </label>

                            </h2>
                            <div class="content">
                                <p><strong>
                                        <%= keydata.solution%>
                                    </strong></p>
                                <% for(let keyvalue of keydata.attachment){%>
                                    <p>
                                        <a href="<%= keyvalue.attachmentlink %>" target="_blank">
                                            <i class="fa-regular fa-file-pdf">
                                                <%= keyvalue.attachmentname %>
                                            </i>
                                        </a>
                                    </p>
                                    <% } %>
                            </div>
                        </section>
                        <%}%>
                </div>
        </main>
        <%- include('../includes/end.ejs') %>