<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/nav.ejs') %>
            <div class="header1 nine">
                <h1>
                    Deparatment List <span>hi</span>
                </h1>
            </div>
            <div class="main-container">
                <% for( let key of deptdata){%>
                    <div class="item">
                        <div class="item-1">

                            <form action="/deptinfo" method="post">
                                <button type="submit" class="btn-login">
                                    <h3>
                                        <%= key.name%>
                                    </h3>
                                </button>
                                <input type="hidden" value="<%= key.name%>" name="deptname">
                            </form>
                        </div>
                    </div>
                    <%}%>
            </div>
            <%- include('../includes/end.ejs') %>