<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/collaps.css">
    <style>
        .myborder {
            --my--color: red;
        }
    </style>
    </head>

    <body>
        <main>

            <%- include('../includes/nav.ejs') %>

                <div class="header1 nine">
                    <h1>
                        <div class="pimage pheading">
                            <img src="<%= deptinfo.profilimage %>" alt="">
                            <div class="heading">
                                <%= deptinfo.name%>
                            </div>
                        </div>
                        <span>About</span>
                    </h1>
                    <h3>
                        &nbsp;&nbsp;&nbsp;<i class="fa-duotone fa-phone-rotary"></i>&nbsp; : +91 <%= deptinfo.mobileno
                            %>
                    </h3>
                    <h3>
                        &nbsp;&nbsp;&nbsp;<i class="fa-solid fa-envelope-open"></i>&nbsp; : <%= deptinfo.email %>
                    </h3>
                    <h3>
                        &nbsp;&nbsp;&nbsp;<i class="fa-regular fa-link"> </i>&nbsp; : <a href="<%= deptinfo.url %>">
                            <%= deptinfo.url %>
                        </a>
                    </h3>
                    <h1><span class="myborder">Address</span></h1>
                    <div class="main-address">
                        <% for( let key of deptinfo.locations) { %>
                            <div class="address">
                                <p>
                                    <i class="fa-sharp fa-regular fa-location-dot fa-bounce"></i> : <%= key.address%>
                                </p>
                                <p>
                                    <i class="fa-regular fa-user-headset"></i> : <%=key.personname%>
                                </p>
                                <p>
                                    <i class="fa-regular fa-phone-office"></i> : +079-<%=key.mobilenolocation %>
                                </p>

                                <p>
                                    <i class="fa-sharp fa-regular fa-clock-two"></i> : <%=key.opentime%> am
                                </p>
                                <p>
                                    <i class="fa-sharp fa-regular fa-clock-five"></i> : <%=key.closetime%> pm
                                </p><br>

                            </div>&nbsp;&nbsp;&nbsp;&nbsp;

                            <%}%>
                    </div>
                    <h1><span>~</span></h1>
                </div>
                <div class="solution">
                    <div class="header1 nine">
                        <h1>FAQ<span>your Questions</span></h1>
                    </div>
                    <% for( let keydata of deptinfo.query){%>

                        <details>
                            <summary>
                                <%= keydata.question %>
                            </summary>
                            <div class="content">
                                <p>
                                    <%= keydata.solution %>
                                </p><br>

                                <% for(let keyvalue of keydata.attachment){%>
                                    <p>
                                        <a href="<%= keyvalue.attachmentlink %>" target="_blank">
                                            <i class="fa-regular fa-file-pdf">
                                                <%= keyvalue.attachmentname %>
                                            </i>
                                        </a>
                                    </p>
                                    <% } %>
                            </div>
                        </details>
                        <%}%>
                </div>
        </main>
        <%- include('../includes/end.ejs') %>